# PYTHON: GENERALITIES AND INTRODUCTION TO PYTHON

By: Hector Alvaro Rojas &nbsp;&nbsp;|&nbsp;&nbsp; Data Science, Visualizations and Applied Statistics &nbsp;&nbsp;|&nbsp;&nbsp; January 10, 2018<br>
    Url: [http://www.arqmain.net]   &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;   GitHub: [https://github.com/arqmain]
    <hr>

## I INTRODUCTION

## II PYTHON GENERALITIES

## 21 Python Instalation

There are two ways to get Python istalled:
>1 Download Anaconda [https://www.anaconda.com/download/]. It comes with Python software along with preinstalled popular libraries.<br>
>2 Download Python from its official website [https://www.python.org/downloads/]. In this case, you have to manually install libraries.

I higly recomend to use the Anaconda option (first one).

## 22 Anaconda Instalation Aditionals

Anaconda comes with two popular notebooks (IDE):
>* Jupyter (Ipython) Notebook
>* Spyder

### 221 Jupyter Notebook

Jupyter Notebook is a web application in which you can create and share documents that contain live code, equations, visualizations as well as text.

"Jupyter" is an acronym meaning Julia, Python, and R. These programming languages were the first target languages of the Jupyter application, but nowadays, the notebook technology also supports many other languages.

The Jupyter Notebook App, as a server-client application, allows you to edit and run your notebooks via a web browser. The application can be executed on a PC without Internet access or it can be installed on a remote server, where you can access it through the Internet. Its two main components are the kernels and a dashboard.

![title](img/Jupyter.png)

A kernel is a program that runs and introspects the userâ€™s code. The Jupyter Notebook App has a kernel for Python code, but there are also kernels available for other programming languages such as R.

The dashboard of the application not only shows you the notebook documents that you have made and can reopen but can also be used to manage the kernels: you can which ones are running and shut them down if necessary.

Jupyter is equivalent to markdown in R. I highly recommend Jupyter as your base Notebook for Python.

### 222 Spyder Notebook

It is like RStudio for Python. It gives an environment wherein writing python code is user-friendly. It comes with a syntax editor where you can write programs. It has a console to check each and every line of code. Under the 'Variable explorer', you can access your created data files and function.

![title](img/Spider.png)

## III INTRODUCTION TO PYTHON

## 1 Python Keywords and Identifiers

https://www.programiz.com/python-programming/keywords-identifier

## 11 Keywords

Keywords are the reserved words in Python.

We cannot use a keyword as variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

In Python, keywords are case sensitive.

There are 33 keywords in Python. Anyway, this number can vary slightly as time goes bye.

All the keywords -except True, False and None- are in lowercase and they must be written as it is. The list of all the keywords are given below.

![title](img/Python_Keywords.png)

## 12 Identifiers

Identifier is the name given to entities like class, functions, variables etc. in Python. It helps differentiating one entity from another. 

### Rules to get identifiers written

* Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore (_). Names like myClass, <font color=maroon>var_1</font> and <font color=maroon>print_this_to_screen</font>, all are valid example.
* An identifier cannot start with a digit. <font color=maroon>1variable</font> is invalid, but <font color=maroon>variable1</font> is perfectly fine.
* Keywords cannot be used as identifiers.
* We cannot use special symbols like !, @, #, $, % etc. in our identifier.
* Identifier can be of any length.

Finally, Python is a case-sensitive language. This means, <i><b><font color=maroon>V</b>ariable</font></i> and <i><font color=maroon><b>v</b>ariable</font></i> are not the same.

## 2 Statement, Indentation and Comments

## 21 Statement

Statements are "instructions" that a Python interpreter can execute. For instance:<br>
* <i>a = 1</i> is an assignment statement.
* <i>if</i>, <i>for</i> and <i>while</i> are other kinds of statements which will be discussed later.

### Multi-line statement

In Python, end of a statement is marked by a newline character. But we can make a statement extend over multiple lines with the "explicit line continuation character (\)". For example:

In [5]:
a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9
print(a)

45

Line continuation is implied inside parentheses ( ), brackets [ ] and braces { } too. For instance, we can implement the above multi-line statement as follows:

In [9]:
a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8 + 9)
a # Mean the same that Print(a)

45

Here, the surrounding parentheses ( ) do the line continuation implicitly. Same is the case with [ ] and { }. For example:

In [ ]:
colors = ['red',
          'blue',
          'green']
colors # Mean the same that Print(colors)

In [ ]:
We could also put multiple statements in a single line using semicolons, as follows:

In [10]:
a = 7; b = 8; c = 0

## 22 Indentation

Python uses indentation to define a block of code.

A code block starts with indentation and ends with the first unindented line. The amount of indentation is up to you, but it must be consistent throughout that block.

Generally four whitespaces are used for indentation and is preferred over tabs.  For instance:

In [20]:
for i in range(1,1001):
    print(i)
    if i == 5:
        break

1
2
3
4
5

The enforcement of indentation makes the code look neat and clean. This results into Python programs that look similar and consistent.

Indentation can be ignored in line continuation. But it's a good idea to always indent becouse it makes the code more readable.

## 23 Comments

Comments describes what's going on inside a program so that a person looking at the source code does not have a hard time figuring it out.

### General comments

Python use the hash (#) symbol to start writing a comment. Python Interpreter ignores comment. We have used "comments" above.  For instance:

In [21]:
a = (1 + 2 + 3 +
    4 + 5 + 6 +
    7 + 8 + 9)
a # Mean the same that Print(a)

45

### Multi-line comments

For comments that extend multiple lines, one way of doing it is to use hash (#) in the beginning of each line. For example:

In [ ]:
#This is a  comment longer than the usual ones
#so we will need to exten it
#to multiple lines

Another way of doing this is to use triple quotes, either ''' or """. Fpr instance:

In [29]:
"""This is other 
example of 
multi-line comments"""

'This is other \nexample of \nmulti-line comments'

####  Docstring (documentation string)

It is a string that occurs as the first statement in a module, function, class, or method definition. We must write what a function/class does in the docstring.

Triple quotes are used while writing docstrings. For example:

In [31]:
def double(num):
    """Function to double the value"""
    return 2*num

double(6)

12

Docstring is available to us as the attribute __doc__ of the function. Issue the following code in shell once you run the above program.

In [32]:
print(double.__doc__)

Function to double the value

## 3  Python Variables and Data Types

### 31 Python Variables

A variable is a location in memory used to store some data (value).

They are given unique names to differentiate between different memory locations. The rules for writing a variable name is same as the rules for writing identifiers in Python.

We don't need to declare a variable before using it. In Python, we simply assign a value to a variable and it will exist. We don't even have to declare the type of the variable. This is handled internally according to the type of value we assign to the variable.

#### Variable assignment

We use the assignment operator (=) to assign values to a variable. Any type of value can be assigned to any valid variable.

In [35]:
a = 5  # an integer assigned to the variable a
b = 3.2 # a floating point number assigned to the variable b
c = "Hello" # a string (sequence of characters) assigned to the variable c

#### Multiple assignments

In Python, multiple assignments can be made in a single statement as follows:

In [40]:
a, b, c = 12, 37.12, "Hello world!"
print(a)
print(b)
print(c)

12
37.12
Hello world!

In [ ]:
If we want to assign the same value to multiple variables at once, we can do this as

Multiple variables can be assigned to a same value. We can do this as it follows:

In [7]:
x = y = z = w= "same value for all!"
xx = yy = zz = 312.56
print("x ", x); print("y ", y); print("z ", z); print("w", w)

print("xx", xx); print("yy", yy); print("zz", zz)

('x ', 'same value for all!')
('y ', 'same value for all!')
('z ', 'same value for all!')
('w', 'same value for all!')
('xx', 312.56)
('yy', 312.56)
('zz', 312.56)

### 32 Python Data Types (or Data Structure)

Every value in Python has a datatype. Since everything is an object in Python programming, data types are actually classes and variables are instance (object) of these classes.

There are various data types in Python. We will list here some of the most important types.

#### 321 Python Numbers

Integers, floating point numbers and complex numbers falls under Python numbers category. They are defined as int, float and complex class in Python. 

We can use the type() function to know which class a variable or a value belongs to and the isinstance() function to check if an object belongs to a particular class.

In [9]:
a = 666
print(a, "is of type", type(a))

a = 2.222
print(a, "is of type", type(a))

a = 1+5j
print(a, "is complex number?", isinstance(1+5j,complex))

(666, 'is of type', <type 'int'>)
(2.222, 'is of type', <type 'float'>)
((1+5j), 'is complex number?', True)

>* Integers can be of any length, it is only limited by the memory available.<br>
>* A floating point number is accurate up to 15 decimal places. Integer and floating points are separated by decimal points. 1 is integer, 1.0 is floating point number.<br>
>* Complex numbers are written in the form, x + yj, where x is the real part and y is the imaginary part. 

Look at the following examples.

In [13]:
a = 12345678901234567890123456789
print(a)
b = 0.12345678901234567890123456789 # Notice that b will be truncated.
print(b)
c = 1+2j
print(c)

12345678901234567890123456789
0.123456789012
(1+2j)

#### 322 Python List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type.

Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets [ ]. We can use the slicing operator [ ] to extract an item or a range of items from a list. List index (like with strings) starts form 0 in Python.

The objects can be any data type (including lists), and it is allowed to mix data types. In this way they are much more flexible than arrays. It is possible to append, delete, insert and count elements and to sort, reverse, etc. the list. In general, lists are mutable, meaning, value of elements of a list can be altered.

We can see the following examples:

In [14]:
# Example 1:
a = [5,10,15,20,25,30,35,40]

# a[2] = 15
print("a[2] = ", a[2])

# a[0:3] = [5, 10, 15]
print("a[0:3] = ", a[0:3])

# a[5:] = [30, 35, 40]
print("a[5:] = ", a[5:])

('a[2] = ', 15)
('a[0:3] = ', [5, 10, 15])
('a[5:] = ', [30, 35, 40])

In [15]:
# Example 2:
a_list = [1,2,3,"this is a string",5.3]
b_list = ["A","B","F","G","d","x","c",a_list,3]
print(b_list)
print(b_list[7:9])

['A', 'B', 'F', 'G', 'd', 'x', 'c', [1, 2, 3, 'this is a string', 5.3], 3]
[[1, 2, 3, 'this is a string', 5.3], 3]

In [16]:
# Example 3:
a = [1,2,3,4,5,6,7]
a.insert(0,0)
print(a)
a.append(8)
print(a)
a.reverse()
print(a)
a.sort()
print(a)
a.pop()
print(a)
a.remove(3)
print(a)
a.remove(a[4])
print(a)

[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[8, 7, 6, 5, 4, 3, 2, 1, 0]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 4, 5, 6, 7]
[0, 1, 2, 4, 6, 7]

Lists can be constructed using â€˜forâ€™ and some conditional statements. These are called, â€˜list comprehensionsâ€™.

In [17]:
#Example 4:
even_numbers = [x for x in range(100) if x % 2 == 0]
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

List comprehensions can work on strings as well:

In [18]:
#Example 5:
first_sentence = "It was a dark and stormy night."
characters = [x for x in first_sentence]
print(characters)

['I', 't', ' ', 'w', 'a', 's', ' ', 'a', ' ', 'd', 'a', 'r', 'k', ' ', 'a', 'n', 'd', ' ', 's', 't', 'o', 'r', 'm', 'y', ' ', 'n', 'i', 'g', 'h', 't', '.']

Another similar feature is called â€˜mapâ€™. Map applies a function to a list. The syntax is:

map(aFunction, aSequence). 

Consider the following examples:

In [19]:
#Example 6:
def sqr(x): return x ** 2
a = [2,3,4]
b = [10,5,3]
c = map(sqr,a)
print(c)
d = map(pow,a,b) # See https://docs.python.org/2/library/functions.html#pow
print(d)

[4, 9, 16]
[1024, 243, 64]

Here are more useful examples about "list":

In [26]:
# Example 7: Add 3 to each element of a list
x = [1, 2, 3, 4, 5]
print(x)
for i in range(len(x)):
    x[i] = x[i] + 3
print(x)

# It can also be written like this:
for i in range(len(x)):
   x[i] += 3
print(x)

[1, 2, 3, 4, 5]
[4, 5, 6, 7, 8]
[7, 8, 9, 10, 11]

In [29]:
# Example 8: Join / Combine two lists
X = [1, 2, 3, 4]
Y = [4, 5, 6, 7, 8, 9, 10]
Z = X + Y   # The '+' operator is concatenating two lists.
print(Z)

# Better way
X = [1, 2, 3, 4]
Y = [5, 6, 7, 8, 9, 10]
Z = X + Y   # The '+' operator is concatenating two lists.
print(Z)

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [30]:
# Example 9: Repeat List N times
X = [1, 2, 3]
W = X * 3     # The '*' operator is repeating list N times.
print(W)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [34]:
# Example 10: Sum of values of two list.
import numpy as np
X = [1, 2, 3]
Y = [4, 5, 6]

Z = np.add(X, Y)
print(Z)

[5 7 9]

#### 323 Python Tuple

A tuple is similar to a list in the sense that it is a sequence of elements. The difference between list and tuple are as follows:
* A tuple cannot be changed once created whereas list can be modified.
* A tuple is created by placing comma-separated values inside parentheses ( ). Whereas, list is created inside square brackets [ ]

Tuples are used to write-protect data and are usually faster than list as it cannot change dynamically.

We can use the slicing operator [] to extract items but we cannot change its value.

See the following examples:

In [3]:
# Example 1:
K = (1,2,3)
City = ('London','Paris','Boston')

In [5]:
# Example 2:
for i in City:
    print(i)

London
Paris
Boston

In [6]:
# Example 3:
t = (5,'program', 1+3j)

# t[1] = 'program'
print("t[1] = ", t[1])

# t[0:3] = (5, 'program', (1+3j))
print("t[0:3] = ", t[0:3])

# Generates error
# Tuples are immutable
t[0] = 10

('t[1] = ', 'program')
('t[0:3] = ', (5, 'program', (1+3j)))

TypeError: 'tuple' object does not support item assignment

#### 324 Python Strings

String can be defined as a sequence of Unicode characters. To represent strings we can use single quotes or double quotes. Multi-line strings can be denoted using triple quotes, ''' or """.

In [8]:
s = "This is a string"

Slicing operator [ ] can be used with string but Strings are immutable, like tuple. See the following examples:

In [11]:
# Example 1:
s = 'Hello world!'

# s[6] = 'w'
print("s[6] = ", s[6])

# s[6:11] = 'world'
print("s[6:11] = ", s[6:11])

# Generates error
# Strings are immutable in Python
s[5] ='d'

('s[6] = ', 'w')
('s[6:11] = ', 'world')

TypeError: 'str' object does not support item assignment

In [14]:
# Example 2:
a = "A string of characters, with newline \n CAPITALS, etc."
print(a)
b=123.446
newstring = a + "\n We can format strings for printing %.2f"
print(newstring %b)

A string of characters, with newline
 CAPITALS, etc.
A string of characters, with newline
 CAPITALS, etc.
 We can format strings for printing 123.45

In [17]:
# Example 3: Multiple Single Quotes
mystring = '''Hello world!'''
print(mystring)

Hello world!

In [18]:
# Example 4: Multiple Double Quotes
mystring = """Hello Python3.6"""
print(mystring)

Hello Python3.6

In [19]:
# Example 5:
mystring = r'Hello"Python"'
print(mystring)

Hello"Python"

In [20]:
#Example 6:
a = "ABC defg"
print(a.lower())
print(a.upper())
print(a.find('d'))
print(a.replace('de','a'))
print(a)
b = a.replace('def','aaa')
print(b)
b = b.replace('a','c')
print(b)
b.count('c')

abc defg
ABC DEFG
4
ABC afg
ABC defg
ABC aaag
ABC cccg

3

You can find more stuff about Python strings at http://www.tutorialspoint.com/python/python_strings.htm

#### 325 Python Set

Set is an unordered collection of unique items. Set is defined by values separated by comma inside braces { }. 

We can perform set operations like union, intersection set differences. Set have unique values. They eliminate duplicates.

In [36]:
# Example 1.
a = {5,2,-8,1,4}

# printing set variable
print("a = ", a)

# data type of variable a
print(type(a))

('a = ', set([-8, 1, 2, 4, 5]))
<type 'set'>

In [38]:
# Example 2:
a = {1,2,2,3,3,3} # Set have unique values.
a

{1, 2, 3}

In [39]:
# Example 3:
a = {1,2,3}
a[1] # Slicing operator [] does not work.

TypeError: 'set' object does not support indexing

In [42]:
# Example 4:
X = set(['A', 'B', 'C'])

'A' in X # Does 'A' exist in set X?

True

In [43]:
# Example 5:
X = set(['A', 'B', 'C'])

 Does 'D' exist in set X?

IndentationError: unexpected indent (<ipython-input-43-0fa5215dcc72>, line 4)

In [59]:
# Example 5:
X = set(['A', 'B', 'C','E','Z','H2'])
print("Initial X = ", X)

X.add('D') # How to add 'D' in set X?
print("D added to X = ", X)

X.remove('C') # How to remove 'C' from set X?
print("C removed to X = ", X)

Y = X.copy() # How to create a copy of set X?
print("Y is a copy of X = ", Y)

Y & X # Which items are common in both sets Last X and Y?
print("Common items in Last X and Y = ", Y & X)

X = set(['A', 'B', 'C','E','Z','H2'])
print("Initial X = ", X)
Y & X # Which items are common in both sets Initial X and Y?
print("Common items in Initial X and Y = ", Y & X)

('Initial X = ', set(['A', 'C', 'B', 'E', 'H2', 'Z']))
('D added to X = ', set(['A', 'C', 'B', 'E', 'D', 'H2', 'Z']))
('C removed to X = ', set(['A', 'B', 'E', 'D', 'H2', 'Z']))
('Y is a copy of X = ', set(['A', 'B', 'E', 'D', 'H2', 'Z']))
('Common items in Last X and Y = ', set(['A', 'B', 'E', 'D', 'H2', 'Z']))
('Initial X = ', set(['A', 'C', 'B', 'E', 'H2', 'Z']))
('Common items in Initial X and Y = ', set(['A', 'H2', 'Z', 'B', 'E']))

In [61]:
# Example 6: Incorporing "sets" python library
from sets import Set
fruits = Set(["apples","oranges","grapes","bananas"])
citrus = Set(["lemons","oranges","limes","grapefruits","clementines"])
citrus_in_fruits = fruits & citrus   #intersection
print("citrus_in_fruits = ",citrus_in_fruits)
diff_fruits = fruits - citrus        # set difference
print("fruits - citrus = ",diff_fruits)
diff_fruits_reverse = citrus - fruits  # set difference
print("citrus - fruits = ",diff_fruits_reverse)
citrus_or_fruits = citrus | fruits     # set union
print("citrus_or_fruits = ",citrus_or_fruits)

('citrus_in_fruits = ', Set(['oranges']))
('fruits - citrus = ', Set(['apples', 'grapes', 'bananas']))
('citrus - fruits = ', Set(['grapefruits', 'clementines', 'lemons', 'limes']))
('citrus_or_fruits = ', Set(['clementines', 'grapes', 'limes', 'oranges', 'grapefruits', 'apples', 'lemons', 'bananas']))

In [62]:
# Example 7:
a_list = ["a","a","a","b",1,2,3,"d",1,7,2,2,2,'alpha','rayen','goal']
print("Original List = ",a_list)
a_set = Set(a_list)  # Convert list to set
print("List as a Set with unique elements = ",a_set)         # Creates a set with unique elements
new_list = list(a_set) # Convert set to list
print("Final List with unique elements = ",new_list)        # Obtain a list with unique elements

('Original List = ', ['a', 'a', 'a', 'b', 1, 2, 3, 'd', 1, 7, 2, 2, 2, 'alpha', 'rayen', 'goal'])
('List as a Set with unique elements = ', Set(['a', 1, 2, 'b', 'd', 7, 3, 'rayen', 'alpha', 'goal']))
('Final List with unique elements = ', ['a', 1, 2, 'b', 'd', 7, 3, 'rayen', 'alpha', 'goal'])

You can find more stuff regarding Python sets at: https://docs.python.org/2/library/sets.html

#### 326 Python Dictionary

Dictionary is an unordered collection of key-value pairs. It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value. Key and value can be of any type.  We use key to retrieve the respective value. But not the other way around.

It works like an address book wherein you can find an address of a person by searching the name. In this example. name of a person is considered as key and address as value. It is important to note that the key must be unique while values may not be. Keys should not be duplicate because if it is a duplicate, you cannot find exact values associated with key. if so, the output will be the value associated with the last key appearance in the dictionary.  Keys can be of any data type such as strings, numbers, or tuples.

In [63]:
#Example 1:
a = {'anItem': "A", 'anotherItem': "B",'athirdItem':"C",'afourthItem':"D"} # dictionary example
print(a[1]) # You cannot access items assuming an order (as an index does). You access elements using the keys.

KeyError: 1

In [70]:
#Example 2:
a = {'anItem': "A", 'anotherItem': "B",'athirdItem':"C",'afourthItem':"D"} # dictionary example
print(a['anItem']) # You access elements using the keys.

A

In [71]:
# Example 3: Keys not duplicated

teams = {'Dave' : 'team A',
         'Tim' : 'team B',
         'Babita' : 'team C',
         'Sam' : 'team B',
         'Ravi' : 'team C'
        }

teams['Sam'] # First and Last appearance of "Sam" in the same.

'team B'

In [72]:
# Example 4: Duplicated Key.

teams = {'Dave' : 'team A',
         'Tim' : 'team B',
         'Babita' : 'team C',
         'Sam' : 'team B',
         'Sam' : 'team H',
         'Ravi' : 'team C',
         'Sam' : 'team C'
        }

teams['Sam'] # Key "Sam" appears 3 times. Last appearance of "Sam" has values 'team C'

'team C'

In [18]:
# Example 4:
released = {
		"iphone" : 2007,
		"iphone 3G" : 2008,
		"iphone 3GS" : 2009,
		"iphone 4" : 2010,
		"iphone 4S" : 2011,
		"iphone 5" : 2012
	}
print ("Original Dictionary",released)

released["iphone 5S"] = 2013 # Add a value to the dictionary
print ("iphone 5S added",released)

del released["iphone"] # Remove a key and it's value
print ("Key iphone removed",released)

len(released) # Check the length
print ("Length of the dictionary",len(released))

# Test the dictionary: Check if a key exists in a given dictionary.
## By using the in operator.
'iphone 3GS' in released # Check the length
print ("iphone 3GS is on my dictionary?",'iphone 3GS' in released)

'iphone 458k' in released # Check the length
print ("iphone 458k is on my dictionary?",'iphone 458k' in released)

## By using a for loop
for item in released:
    if "iphone 5" in released:
        print ("Key found")
        break
    else:
        print ("No keys found")

print released.get("iphone 3G", "none") # Get a value of a specified key

('Original Dictionary', {'iphone 3G': 2008, 'iphone 4S': 2011, 'iphone 3GS': 2009, 'iphone': 2007, 'iphone 5': 2012, 'iphone 4': 2010})
('iphone 5S added', {'iphone 5S': 2013, 'iphone 3G': 2008, 'iphone 4S': 2011, 'iphone 3GS': 2009, 'iphone': 2007, 'iphone 5': 2012, 'iphone 4': 2010})
('Key iphone removed', {'iphone 5S': 2013, 'iphone 3G': 2008, 'iphone 4S': 2011, 'iphone 3GS': 2009, 'iphone 5': 2012, 'iphone 4': 2010})
('Length of the dictionary', 6)
('iphone 3GS is on my dictionary?', True)
('iphone 458k is on my dictionary?', False)
Key found
2008

 You can find more stuff regarding Python Dictionary at: https://www.tutorialspoint.com/python/python_dictionary.htm

#### OBSERVATIONS: Types and 

The usual typecasting is available in Python, so it is easy to convert strings to ints or floats, floats to ints, and so on.

We can convert between different data types by using different type conversion functions like int(), float(), str() etc.

In [19]:
# Example 1: 
float(5) # Convert 5 to float type

5.0

In [22]:
# Example 2:
print("Convert 10.6 to int type=",int(10.6))

print("Convert -10. to int type =",int(-10.6))

('Convert 10.6 to int type=', 10)
('Convert -10. to int type =', -10)

In [28]:
# Example 3: Conversion to and from string must contain compatible values.
print("Convert string '2.5' to float =",float('2.5'))

print("Convert int '2.5' to string =",str(25))

print("Convert string '1p' to int =",int('1p')) # invalid literal for int()

("Convert string '2.5' to float =", 2.5)
("Convert int '2.5' to string =", '25')

ValueError: invalid literal for int() with base 10: '1p'

In [29]:
# Example 4: We can even convert one sequence to another.
print("", set([1,2,3]))

print("", tuple({5,6,7}))

print("", list('hello'))

('', set([1, 2, 3]))
('', (5, 6, 7))
('', ['h', 'e', 'l', 'l', 'o'])

In [30]:
# Example 5: To convert to dictionary, each element must be a pair
print("",dict([[1,2],[3,4]]))

print("",dict([(3,26),(4,44)]))

('', {1: 2, 3: 4})
('', {3: 26, 4: 44})

In [31]:
# Example 6:
a = "1"
b = 5
print(a+b) # Quantities of different species

TypeError: cannot concatenate 'str' and 'int' objects

In [32]:
# Example 7: Variable that was initally say an integer can become another type (float, string, etc.) via reassignment.
a = "1"
b = 5
print(int(a)+b)

6

### 33 Operators

In Python operators are special symbols that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.

### 331 Arithmetic operators

![title](img/Operator1.png)

In [1]:
# Example:
x = 15
y = 4

# Output: x + y = 19
print('x + y =',x+y)

# Output: x - y = 11
print('x - y =',x-y)

# Output: x * y = 60
print('x * y =',x*y)

# Output: x / y = 3.75
print('x / y =',x/y)

# Output: x // y = 3
print('x // y =',x//y)

# Output: x ** y = 50625
print('x ** y =',x**y)

('x + y =', 19)
('x - y =', 11)
('x * y =', 60)
('x / y =', 3)
('x // y =', 3)
('x ** y =', 50625)

The result of the integer division is the same as the floor division //. If you want the floating point result, the arguments to / must be floats as well (or appropriately typecast).

In [4]:
# Example:
a = 3
b = 4
print("Integer result: Integer a=3 and b=4 divided as a/b =",a/b)
print("Floating result: Integer a=3 and b=4 divided as float(a)/float(b) =",float(a)/float(b))

('Integer result: Integer a=3 and b=4 divided as a/b =', 0)
('Floating result: Integer a=3 and b=4 divided as float(a)/float(b) =', 0.75)

### 332 Comparison operators

![title](img/Operator2.png)

In [1]:
# Example:
x = 10
y = 12

# Output: x > y is False
print('x > y  is',x>y)

# Output: x < y is True
print('x < y  is',x<y)

# Output: x == y is False
print('x == y is',x==y)

# Output: x != y is True
print('x != y is',x!=y)

# Output: x >= y is False
print('x >= y is',x>=y)

# Output: x <= y is True
print('x <= y is',x<=y)

('x > y  is', False)
('x < y  is', True)
('x == y is', False)
('x != y is', True)
('x >= y is', False)
('x <= y is', True)

### 333 Logical operators

![title](img/Operator3.png)

In [2]:
# Example 1:
x = True
y = False

# Output: x and y is False
print('x and y is',x and y)

# Output: x or y is True
print('x or y is',x or y)

# Output: not x is False
print('not x is',not x)

('x and y is', False)
('x or y is', True)
('not x is', False)

In [5]:
# Example 2:
x = 80
print("x > 18 and x <=35 is", x > 18 and x <=35)

print("x > 18 and x <=135 is", x > 18 and x <=135)

print("x > 35 or x < 60 is", x > 18 or x <60)

('x > 18 and x <=35 is', False)
('x > 18 and x <=135 is', True)
('x > 35 or x < 60 is', True)

### 334 Assignment operators

It is used to assign a value to the declared variable.

a = 5 is a simple assignment operator that assigns the value 5 on the right to the variable a on the left.

There are various compound operators in Python like a += 5 that adds to the variable and later assigns the same. It is equivalent to a = a + 5.

![title](img/Operator4.png)

### 335 Membership operators

<i><font color=red>in</font></i> and <i><font color=red>not in</i></font> are the membership operators in Python. They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary).

In a dictionary we can only test for presence of key, not the value.

![title](img/Operator5.png)

In [9]:
# Example:
x = 'Hello world'
y = {1:'a',2:'b'}

# Output: True
print("H in x is",'H' in x)

# Output: True
print("hello not in x is",'hello' not in x)

# Output: True
print("1 in y is",1 in y)

# Output: False
print("a in y is",'a' in y)

('H in x is', True)
('hello not in x is', True)
('1 in y is', True)
('a in y is', False)

## 34 Python Iterators

Iterator in Python is simply an object that can be iterated upon. An object which will return data, one element at a time.

An object is called iterable if we can get an iterator from it. Most of built-in containers in Python like: list, tuple, string etc. are iterables.

The iter() function (which in turn calls the __iter__() method) returns an iterator from them.

#### 341 Iterating Through an Iterator in Python

We use the next() function to manually iterate through all the items of an iterator. When we reach the end and there is no more data to be returned, it will raise StopIteration.

In [3]:
# Example:
# define a list
my_list = [4, 7, 0, 3]

# get an iterator using iter()
my_iter = iter(my_list)

## iterate through it using next() 

#prints 4
print(next(my_iter))

#prints 7
print(next(my_iter))

## next(obj) is same as obj.__next__()

#prints 0
print(next(my_iter))

#prints 3
print(next(my_iter))

## This will raise error, no items left
next(my_iter)

4
7
0
3

StopIteration:

A more elegant and freuently used way of automatically iterating is by using the for loop. Using this, we can iterate over any object that can return an iterator, for example list, string, file etc.

In [5]:
# Example:
for element in my_list:
    print(element)

4
7
0
3

#### How for loop actually works?

As we see in the above example, the for loop was able to iterate automatically through the list.

In fact the for loop can iterate over any iterable. Let's take a closer look at how the for loop is actually implemented in Python.

In [ ]:
for element in iterable:
    # do something with element

In [ ]:
Is actually implemented as.

In [ ]:
# create an iterator object from that iterable
iter_obj = iter(iterable)

# infinite loop
while True:
    try:
        # get the next item
        element = next(iter_obj)
        # do something with element
    except StopIteration:
        # if StopIteration is raised, break from loop
        break

So internally, the for loop creates an iterator object, iter_obj by calling iter() on the iterable.

Ironically, this for loop is actually an infinite while loop.

Inside the loop, it calls next() to get the next element and executes the body of the for loop with this value. After all the items exhaust, StopIteration is raised which is internally caught and the loop ends. Note that any other kind of exception will pass through.

Finally, as you have seen, Python has the usual iterators, while, for, and some other constructions. Here is one more example of each.

In [7]:
# Example:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [8]:
# Example:
i = 1
while i < 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9

## 35 Conditional Statements

Conditional statements are commonly used in coding. It is IF ELSE statements. It can be read like : 
" if a condition holds true, 
    then execute something. 
    Else execute something else"

The if and else statements ends with a colon :

In [9]:
# Example 1:
k = 27
if k%5 == 0:
  print('Multiple of 5')
else:
  print('Not a Multiple of 5')

Not a Multiple of 5

In [15]:
#Example 2:
a = 23
if a >= 22:
    print("if")
    print("greater than or equal 22")
elif a >= 21:
    print("elif")
else:
    print("else")

if
greater than or equal 22

In [13]:
#Example 3:
numbers= [27, 30]

for k in numbers:
    if k%5 == 0:
        print('Multiple of 5')
    else:
        print('Not a Multiple of 5')

Not a Multiple of 5
Multiple of 5

## 36 Functions

Like print(), you can create your own custom function. It is also called user-defined functions. It helps you in automating the repetitive task and calling reusable code in easier way.

#### Rules to define a function
>*  Function starts with def keyword followed by function name and ( )<br>
>*  Function body starts with a colon (:) and is indented<br>
>*  The keyword return ends a function  and give value of previous expression.

In [18]:
# Example 1:
def sum_fun(a, b):
    result = a + b
    return result 

z = sum_fun(100, 5)
print("sum_fun(100, 5) =",z)

('sum_fun(100, 5) =', 105)

Suppose you want python to assume -100 as default value if no value is specified for parameter b.

In [19]:
# Example 2:
def sum_fun(a, b=-100):
    result = a + b
    return result 

z = sum_fun(100)
print("sum_fun(100) =",z)

('sum_fun(100) =', 0)

In [22]:
# Example 3:
def Division(a, b):
    print(a/b)
Division(3,4)
Division(3.0,4.0)
Division(2,"2") # Upssssss!

0
0.75

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [23]:
# Example 4:
def Division(a, b):
    try:
        print(a/b)
    except:
        if b == 0:
           print("cannot divide by zero")
        else:
           print(float(a)/float(b)) # Solutio for the Upssss! above.
Division(2,"2")
Division(2,0)

1.0
cannot divide by zero

## 37 Modules

As the code base gets larger, it is convenient to organize them as modules or packages. At the simplest level, modules can just be regular python files. We import functions in modules using one of the following import variants:

In [ ]:
# Example 1: 
import numpy
import numpy as np # using an alias
import numpy.linalg as la # modules can have submodules
from numpy import sin, cos, tan # bring trig functions into global namespace
from numpy import * # frowned upon because it pollutes the namespace

In [ ]:
# Example 2:
 import pandas as pd 
# It imports the package pandas under the alias pd. 
# A function DataFrame in package pandas is then submitted with pd.DataFrame.

import pandas
# It imports the package without using alias but here the function DataFrame is submitted with 
# full package name pandas.DataFrame

from pandas import * 
# It imports the whole package and the function DataFrame is executed simply by typing DataFrame.
# It sometimes creates confusion when same function name exists in more than one package.

## 38 Installing additional modules

Most of the time, we can use the pip package manager to install and uninstall modules for us. In general, all that is needed is to issue the command

In [ ]:
pip install <packagename>

at the command line or

In [ ]:
! pip install <packagename>

from within an IPython notebook.

Packages that can be installed using pip are listed in the Python Package Index (PyPI)[https://pypi.python.org/pypi].

Pip documentation is at https://pip.pypa.io/en/latest/.

### 39 Popular Python Commands

Let's say, you want to install / uninstall / upgrade pandas package.

#### Install Package
!pip install pandas

#### Uninstall Package
!pip uninstall pandas

#### Show Information about Installed Package
!pip show pandas

#### List of Installed Packages
!pip list

#### Upgrade a package
!pip install --upgrade pandas

### 40 Keeping the Anaconda distribution up-to-date

In [ ]:
Just issue the following at the command line.

conda update conda
conda update anaconda

### 41 The standard library

Python comes with a diverse collection of functionality available in standard library modules and functions.

<b>References</b>

>* Standard library docs [https://docs.python.org/2/library/]
>* Python Module of the Week gives examples of usage.[http://pymotw.com/2/contents.html]

<hr>
By: Hector Alvaro Rojas &nbsp;&nbsp;|&nbsp;&nbsp; Data Science, Visualizations and Applied Statistics &nbsp;&nbsp;|&nbsp;&nbsp; January 10, 2018<br>
    Url: [http://www.arqmain.net]   &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;   GitHub: [https://github.com/arqmain]
    <hr>